<h3 class="box">
  Adverts tracks list
</h3>

{{#each }}
  <div {{action "subNavTo" this}} class="box">
    <div class="row">
      <div class="span5">
        {{name}}
      </div>
      <div class="span1">
        {{duration}}
      </div>
      <div class="span2">
        {{dateTime lastEdit}}
      </div>
    </div>
  </div>
{{/each}}

