

<div class="navbar navbar-fixed-top">
  <div class="container">
    <a class="brand" href="#">
      <span class="logo logoMoodColor">MOOD</span><span class="logo dot">:</span><span class="sublogo logoMoodColor">MPCOM</span>
    </a>
    <ul class="nav">
      {{#each}}
        <li>
          {{#link-to "module" this currentWhen="module"}}

            {{name}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>



<div class="container">

  <div class="hero-unit">
    current track (or audio player here)
  </div>


  <div class="row">

    <div id="unit-details" class="row span3">
      <h3 class="box">Unit details</h3>
      <div class="box">
        <h4 class="span2 pull-right">
          {{#link-to "module" 'music'}}
              music
            {{/link-to}}
        </h4>
        <div class="row">
          <div class="span span1">
            programs
          </div>
          <div class="span span1 pull-right">3</div>
        </div>
        <div class="row">
          <div class="span span1">baskets</div>
          <div class="span span1 pull-right">3</div>
        </div>
        <div class="row">
          <div class="span span1">tracks</div>
          <div class="span span1 pull-right">9</div>
        </div>

        <h4 class="span2 pull-right">
          {{#link-to "module" 'ads'}}
              ads
            {{/link-to}}
        </h4>
        <div class="row">
          <div class="span span1">regular</div>
          <div class="span span1 pull-right">5</div>
        </div>
        <div class="row">
          <div class="span span1">events</div>
          <div class="span span1 pull-right">2</div>
        </div>
        <div class="row">
          <div class="span span1">open/close</div>
          <div class="span span1 pull-right">4</div>
        </div><div class="row">
          <div class="span span1">adcom</div>
          <div class="span span1 pull-right">0</div>
        </div>
        <div class="row">
          <div class="span span1">local</div>
          <div class="span span1 pull-right">1</div>
        </div>

        <h4 class="span2">last update</h4>
        <div class="row">
          <div class="span2">sept 9th 2013</div>
        </div>

      </div>
    </div>

    <div class="span9">
      {{outlet loading}}
      {{outlet}}
    </div>

  </div>

</div>
