{{outlet navigation}}

<div class="container">

  <div class="hero-unit">
    current track (audio player here)
  </div>

  <div class="row">
    <div id="unit-details" class="row span3">
      {{outlet details}}
    </div>
    <div class="span9">
      {{outlet loading}}
      {{outlet module}}
    </div>
  </div>

</div>
