<div id="submodule">
  <h3 class="box">{{name}}</h3>
  <div class="box">
    blabla element {{name}}
  </div>
</div>
{{dynPartial this.id}}
{{#accordion-group contentBinding="content" name=this.name hidden=true}}
      <h1>I'm a body</h1>
    {{/accordion-group}}