<div class="navbar row">
  <ul id="submodule-nav" class="nav">
    {{#each submodules}}
      <li>
        {{#link-to this.id}}
          {{name}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
{{outlet submodule}}
