<div class="navbar row">
  <ul id="submodule-nav" class="nav">
    {{#each submodule in submodules}}
      <li>
        {{#link-to submodule.id}}
          {{submodule.name}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
{{outlet submodule}}
