<div class="navbar row">
  <ul id="submodule-nav" class="nav">
    {{#each item in submodules}}
      <li>
        {{#link-to item.id}}
          {{item.name}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
{{outlet submodule}}
