<div class="navbar row">
  <ul id="submodule-nav" class="nav">
    {{#each }}
      <li>
        {{#link-to this.id }}
          {{name}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
{{outlet}}
