<div class="navbar row">
  <ul id="submodule-nav" class="nav">
    {{#each item in controller}}
        <li {{action "navTo" item.id}} >
          <a>{{item.name}}</a>
        </li>
    {{/each}}
  </ul>
</div>
