<h3 class="box">
  adverts diffusion planning
  <div class="span2 pull-right">{{date date}}</div>
</h3>

{{#each planningLines}}
  <div class="box">
    <div class="row">
      <div class="span1">
        <div class="ads-track-logo">
          <div class="ads-track-logo-container">
            <span class="logo dot">:</span><span class="sublogo logoMoodColor">{{mssii.type}}</span>
          </div>
        </div>
      </div>
      {{#link-to 'adsTrack' adsTrack.id tagName="div" class="span2 offset4 planning-line-element"}}
        {{adsTrack.name}}
      {{/link-to}}
      <div class="span1 planning-line-element">
        {{time date}}
      </div>
    </div>
  </div>
{{/each}}

