<h3 class="box">
  last tracks played
</h3>

<div class="box">
  <div class="row">
    <div class="span1">
      <img src="http://placehold.it/60x60">
    </div>
    <div class="span2 playlist-line-element">
      program
    </div>
    <div class="span2 playlist-line-element">
      basket
    </div>
    <div class="span2 playlist-line-element">
      artist : track
    </div>
    <div class="span1 playlist-line-element">
      date/time (duration)
    </div>
  </div>
</div>

<div class="box">
  <div class="row">
    <div class="span1">
      <img src="http://placehold.it/60x60">
    </div>
    <div class="span2 playlist-line-element">
      ads
    </div>
    <div class="span2 playlist-line-element">
      type
    </div>
    <div class="span2 playlist-line-element">
      track
    </div>
    <div class="span1 playlist-line-element">
      date/time (duration)
    </div>
  </div>
</div>

<div class="box">
  <div class="row">
    <div class="span1">
      <img src="http://placehold.it/60x60">
    </div>
    <div class="span2 playlist-line-element">
      program
    </div>
    <div class="span2 playlist-line-element">
      basket
    </div>
    <div class="span2 playlist-line-element">
      artist : track
    </div>
    <div class="span1 playlist-line-element">
      date/time (duration)
    </div>
  </div>
</div>

<div class="box">
  <div class="row">
    <div class="span1">
      <img src="http://placehold.it/60x60">
    </div>
    <div class="span2 playlist-line-element">
      program
    </div>
    <div class="span2 playlist-line-element">
      basket
    </div>
    <div class="span2 playlist-line-element">
      artist : track
    </div>
    <div class="span1 playlist-line-element">
      date/time (duration)
    </div>
  </div>
</div>

<div class="box">
  <div class="row">
    <div class="span1">
      <img src="http://placehold.it/60x60">
    </div>
    <div class="span2 playlist-line-element">
      program
    </div>
    <div class="span2 playlist-line-element">
      basket
    </div>
    <div class="span2 playlist-line-element">
      artist : track
    </div>
    <div class="span1 playlist-line-element">
      date/time (duration)
    </div>
  </div>
</div>