<div id="submodule"><h3 class="box">{{name}}
  {{#each elements}}
    {{#link-to "element" this }}
      {{name}} 
    {{/link-to}}
  {{/each}} </h3>
</div>


{{#each elements}}
  {{#accordion-group contentBinding="content" linkerBinding=this name=this.name hidden=true}}
      {{dynPartial this.id}}
  {{/accordion-group}}
{{/each}}

  

