<div id="submodule">
  <h3 class="box">
    {{name}}
  </h3>
</div>

{{dynPartial this.id}}
{{#each item in elements}}
  {{#accordion-group name=item.name}}
      {{dynPartial item.id}}
      {{outlet}}
  {{/accordion-group}}
{{/each}}



